/.metadata/
/core/assets/voiceActing/
/desktop/bin/voiceActing/
/.gradle/
/.idea/
*.iws
/out/
.idea_modules/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.iml
*.swp
/core/bin/
/core/out/
/core/build/
/desktop/bin/
/desktop/out/
/desktop/build/
